@font-face {
    font-family: 'Isidora Sans Alt';
    src: url('fonts/IsidoraSansAlt-MediumItalic.woff2') format('woff2'),
        url('fonts/IsidoraSansAlt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Isidora Sans Alt';
    src: url('fonts/IsidoraSansAlt-BoldItalic.woff2') format('woff2'),
        url('fonts/IsidoraSansAlt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Isidora Sans Alt';
    src: url('fonts/IsidoraSansAlt-Light.woff2') format('woff2'),
        url('fonts/IsidoraSansAlt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

